<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar películas por género</title>
</head>
<body>
    <select name="" id="">
        <% for (genre of genresList) { %>
            <option>
                <%= genre %>
            </option>
        <% } %>  
        <option value=""></option>
    </select>
    <a href="">Buscar</a>
</body>
</html>