<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revista Palermo</title>
</head>
<body>
    <ul>
        <!-- ul>li*4>a{Listado de películas} -->
        <ul>
            <li><a href="movies">Listado de películas</a></li>
            <li><a href="movies/new">Agregar película</a></li>
            <!-- <li><a href="movies/buscando-a-nemo">findOne() - Buscando a Nemo</a></li>
            <li><a href="movies/genre">Buscar por género</a></li>
            <li><a href="">Editar película</a></li>
            <li><a href="">Borrar película</a></li> -->
        </ul>
    </ul>
</body>
</html>